.login{
    background-color: #b95353;
}
.content{
    text-align: center;
    max-width: 1200px;
    min-height: 100vh;
    padding: 0 1rem;
    margin: 0 auto;
}
.content>img{
    max-width: 100%;
    padding: 1rem;
}
.message{
    /* display: flex; */
    /* justify-content: center; */
    padding: 1rem 0;
    margin: 0 auto;
    position: relative;
}
.message>img{
    max-width: 60px;
    margin: 0 1rem;
}
.message-cont{
    position: absolute;
    top: -20%;
    left: 50%;
    display: flex;
}
.message-cont>p{
    background-color: #e7eee6;
    border-radius: 4px;
    text-align: left;
    position: relative;
    padding: .5rem;
}
/* Efectos para el parrafo */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  /*the animation definition*/
  @-webkit-keyframes bounce {
    0%, 100%, 20%, 53%, 80% {
      -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
      transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0)
    }
    40%,
    43% {
      -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
      transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0)
    }
    70% {
      -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
      transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0)
    }
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0)
    }
  }
  @keyframes bounce {
    0%, 100%, 20%, 53%, 80% {
      -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
      transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0)
    }
    40%,
    43% {
      -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
      transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
      -webkit-transform: translate3d(0, -30px, 0);
      -ms-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0)
    }
    70% {
      -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
      transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
      -webkit-transform: translate3d(0, -15px, 0);
      -ms-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0)
    }
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      -ms-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0)
    }
  }
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom
  }

/* Estilos para el span */

.msg{
    font-size: .8rem;
    line-height: 1rem;
    color: #131313;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    white-space: nowrap;
}
.hi{
    animation: typing1 1s steps(30,end) .8s 1 normal both;
}
.give{
    border-right: 1px solid #161616;
    animation: typing2 1.5s steps(20,end) 1.5s 1 normal both;
}

@keyframes typing1 {
    from { width: 0 }
    to { width: 100%}
}
@keyframes typing2 {
    from { width: 0 }
    to { 
        width: 100%;
        border-right-color: transparent;
    }
}

.message-cont>p:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 12px 15px 0 0;
    border-color: #e7eee6 transparent transparent transparent;
    bottom: -10px;
    left: 22%;
}

.form{
    background-color: #722d2d48;
    border-radius: 20px;
    width: fit-content;
    padding: .2rem .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.input{
    background: none;
    border: none;
    outline: none;
    padding: .5rem 1rem;
    border-radius: 4px;
    color: #fff;
}
.input::placeholder{
    color: #ffffff6c;
}
.btn-ball{
    background: none;
    border: none;
    cursor: pointer;
}
.btn-ball>img{
    width: 30px;
    padding: .1rem .2rem;
}